@import "tailwindcss";

* {
  font-family: Georgia, serif;
}

.body {
  background: linear-gradient(to bottom, #000000, #1e1b4b, #000000);
  color: #ffffff;
}

/* Hide scrollbar but keep scrolling

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} 
